<section *ngIf="hero">
  <h3>
    #{{ hero.id }} {{ hero.name }}
  </h3>
  <form #form="ngForm"
        (ngSubmit)="submit(form)">
    <div>
      <label for="name">Name:   </label> 
      <input name="name"
             #name="ngModel"
             type="text"
             required
             [(ngModel)]="heroName" />
      <div *ngIf="name.errors && (name.dirty || name.touched)">
        <div *ngIf="name.errors.required">
          Name is required
        </div>
      </div>
    </div>
    <div>
        <label for="health">Health: </label>
        <input name="health"
            type="number"
            required
            [(ngModel)]="health" />
    </div>
      <div>
        <label for="power">Power:  </label>
        <input name="power"
            required
            type="number"
            [(ngModel)]="power" />
    </div>
    <div>
      <button type="submit" [disabled]="form.invalid">Save</button>
      <button type="button" (click)="cancel()">Cancel</button>
    </div>
  </form>
</section>
<section *ngIf="!hero">
  Loading hero...
</section>